.docker/data/db/auto.cnf
.docker/data/db/ca-key.pem
.docker/data/db/ca.pem
.docker/data/db/client-cert.pem
.docker/data/db/client-key.pem
.docker/data/db/ib_buffer_pool
.docker/data/db/ib_logfile0
.docker/data/db/ib_logfile1
.docker/data/db/ibdata1
.docker/data/db/ibtmp1
.docker/data/db/private_key.pem
.docker/data/db/public_key.pem
.docker/data/db/server-cert.pem
.docker/data/db/server-key.pem
.docker/data/db/importTest/currency.frm
.docker/data/db/importTest/currency.ibd
.docker/data/db/importTest/db.opt
.docker/data/db/importTest/doctrine_migration_versions.frm
.docker/data/db/importTest/doctrine_migration_versions.ibd
.docker/data/db/mysql/columns_priv.frm
.docker/data/db/mysql/columns_priv.MYD
.docker/data/db/mysql/columns_priv.MYI
.docker/data/db/mysql/db.frm
.docker/data/db/mysql/db.MYD
.docker/data/db/mysql/db.MYI
.docker/data/db/mysql/db.opt
.docker/data/db/mysql/engine_cost.frm
.docker/data/db/mysql/engine_cost.ibd
.docker/data/db/mysql/event.frm
.docker/data/db/mysql/event.MYD
.docker/data/db/mysql/event.MYI
.docker/data/db/mysql/func.frm
.docker/data/db/mysql/func.MYD
.docker/data/db/mysql/func.MYI
.docker/data/db/mysql/general_log.CSM
.docker/data/db/mysql/general_log.CSV
.docker/data/db/mysql/general_log.frm
.docker/data/db/mysql/gtid_executed.frm
.docker/data/db/mysql/gtid_executed.ibd
.docker/data/db/mysql/help_category.frm
.docker/data/db/mysql/help_category.ibd
.docker/data/db/mysql/help_keyword.frm
.docker/data/db/mysql/help_keyword.ibd
.docker/data/db/mysql/help_relation.frm
.docker/data/db/mysql/help_relation.ibd
.docker/data/db/mysql/help_topic.frm
.docker/data/db/mysql/help_topic.ibd
.docker/data/db/mysql/innodb_index_stats.frm
.docker/data/db/mysql/innodb_index_stats.ibd
.docker/data/db/mysql/innodb_table_stats.frm
.docker/data/db/mysql/innodb_table_stats.ibd
.docker/data/db/mysql/ndb_binlog_index.frm
.docker/data/db/mysql/ndb_binlog_index.MYD
.docker/data/db/mysql/ndb_binlog_index.MYI
.docker/data/db/mysql/plugin.frm
.docker/data/db/mysql/plugin.ibd
.docker/data/db/mysql/proc.frm
.docker/data/db/mysql/proc.MYD
.docker/data/db/mysql/proc.MYI
.docker/data/db/mysql/procs_priv.frm
.docker/data/db/mysql/procs_priv.MYD
.docker/data/db/mysql/procs_priv.MYI
.docker/data/db/mysql/proxies_priv.frm
.docker/data/db/mysql/proxies_priv.MYD
.docker/data/db/mysql/proxies_priv.MYI
.docker/data/db/mysql/server_cost.frm
.docker/data/db/mysql/server_cost.ibd
.docker/data/db/mysql/servers.frm
.docker/data/db/mysql/servers.ibd
.docker/data/db/mysql/slave_master_info.frm
.docker/data/db/mysql/slave_master_info.ibd
.docker/data/db/mysql/slave_relay_log_info.frm
.docker/data/db/mysql/slave_relay_log_info.ibd
.docker/data/db/mysql/slave_worker_info.frm
.docker/data/db/mysql/slave_worker_info.ibd
.docker/data/db/mysql/slow_log.CSM
.docker/data/db/mysql/slow_log.CSV
.docker/data/db/mysql/slow_log.frm
.docker/data/db/mysql/tables_priv.frm
.docker/data/db/mysql/tables_priv.MYD
.docker/data/db/mysql/tables_priv.MYI
.docker/data/db/mysql/time_zone_leap_second.frm
.docker/data/db/mysql/time_zone_leap_second.ibd
.docker/data/db/mysql/time_zone_name.frm
.docker/data/db/mysql/time_zone_name.ibd
.docker/data/db/mysql/time_zone_transition_type.frm
.docker/data/db/mysql/time_zone_transition_type.ibd
.docker/data/db/mysql/time_zone_transition.frm
.docker/data/db/mysql/time_zone_transition.ibd
.docker/data/db/mysql/time_zone.frm
.docker/data/db/mysql/time_zone.ibd
.docker/data/db/mysql/user.frm
.docker/data/db/mysql/user.MYD
.docker/data/db/mysql/user.MYI
.docker/data/db/performance_schema/accounts.frm
.docker/data/db/performance_schema/cond_instances.frm
.docker/data/db/performance_schema/db.opt
.docker/data/db/performance_schema/events_stages_current.frm
.docker/data/db/performance_schema/events_stages_history_long.frm
.docker/data/db/performance_schema/events_stages_history.frm
.docker/data/db/performance_schema/events_stages_summary_by_account_by_event_name.frm
.docker/data/db/performance_schema/events_stages_summary_by_host_by_event_name.frm
.docker/data/db/performance_schema/events_stages_summary_by_thread_by_event_name.frm
.docker/data/db/performance_schema/events_stages_summary_by_user_by_event_name.frm
.docker/data/db/performance_schema/events_stages_summary_global_by_event_name.frm
.docker/data/db/performance_schema/events_statements_current.frm
.docker/data/db/performance_schema/events_statements_history_long.frm
.docker/data/db/performance_schema/events_statements_history.frm
.docker/data/db/performance_schema/events_statements_summary_by_account_by_event_name.frm
.docker/data/db/performance_schema/events_statements_summary_by_digest.frm
.docker/data/db/performance_schema/events_statements_summary_by_host_by_event_name.frm
.docker/data/db/performance_schema/events_statements_summary_by_program.frm
.docker/data/db/performance_schema/events_statements_summary_by_thread_by_event_name.frm
.docker/data/db/performance_schema/events_statements_summary_by_user_by_event_name.frm
.docker/data/db/performance_schema/events_statements_summary_global_by_event_name.frm
.docker/data/db/performance_schema/events_transactions_current.frm
.docker/data/db/performance_schema/events_transactions_history_long.frm
.docker/data/db/performance_schema/events_transactions_history.frm
.docker/data/db/performance_schema/events_transactions_summary_by_account_by_event_name.frm
.docker/data/db/performance_schema/events_transactions_summary_by_host_by_event_name.frm
.docker/data/db/performance_schema/events_transactions_summary_by_thread_by_event_name.frm
.docker/data/db/performance_schema/events_transactions_summary_by_user_by_event_name.frm
.docker/data/db/performance_schema/events_transactions_summary_global_by_event_name.frm
.docker/data/db/performance_schema/events_waits_current.frm
.docker/data/db/performance_schema/events_waits_history_long.frm
.docker/data/db/performance_schema/events_waits_history.frm
.docker/data/db/performance_schema/events_waits_summary_by_account_by_event_name.frm
.docker/data/db/performance_schema/events_waits_summary_by_host_by_event_name.frm
.docker/data/db/performance_schema/events_waits_summary_by_instance.frm
.docker/data/db/performance_schema/events_waits_summary_by_thread_by_event_name.frm
.docker/data/db/performance_schema/events_waits_summary_by_user_by_event_name.frm
.docker/data/db/performance_schema/events_waits_summary_global_by_event_name.frm
.docker/data/db/performance_schema/file_instances.frm
.docker/data/db/performance_schema/file_summary_by_event_name.frm
.docker/data/db/performance_schema/file_summary_by_instance.frm
.docker/data/db/performance_schema/global_status.frm
.docker/data/db/performance_schema/global_variables.frm
.docker/data/db/performance_schema/host_cache.frm
.docker/data/db/performance_schema/hosts.frm
.docker/data/db/performance_schema/memory_summary_by_account_by_event_name.frm
.docker/data/db/performance_schema/memory_summary_by_host_by_event_name.frm
.docker/data/db/performance_schema/memory_summary_by_thread_by_event_name.frm
.docker/data/db/performance_schema/memory_summary_by_user_by_event_name.frm
.docker/data/db/performance_schema/memory_summary_global_by_event_name.frm
.docker/data/db/performance_schema/metadata_locks.frm
.docker/data/db/performance_schema/mutex_instances.frm
.docker/data/db/performance_schema/objects_summary_global_by_type.frm
.docker/data/db/performance_schema/performance_timers.frm
.docker/data/db/performance_schema/prepared_statements_instances.frm
.docker/data/db/performance_schema/replication_applier_configuration.frm
.docker/data/db/performance_schema/replication_applier_status_by_coordinator.frm
.docker/data/db/performance_schema/replication_applier_status_by_worker.frm
.docker/data/db/performance_schema/replication_applier_status.frm
.docker/data/db/performance_schema/replication_connection_configuration.frm
.docker/data/db/performance_schema/replication_connection_status.frm
.docker/data/db/performance_schema/replication_group_member_stats.frm
.docker/data/db/performance_schema/replication_group_members.frm
.docker/data/db/performance_schema/rwlock_instances.frm
.docker/data/db/performance_schema/session_account_connect_attrs.frm
.docker/data/db/performance_schema/session_connect_attrs.frm
.docker/data/db/performance_schema/session_status.frm
.docker/data/db/performance_schema/session_variables.frm
.docker/data/db/performance_schema/setup_actors.frm
.docker/data/db/performance_schema/setup_consumers.frm
.docker/data/db/performance_schema/setup_instruments.frm
.docker/data/db/performance_schema/setup_objects.frm
.docker/data/db/performance_schema/setup_timers.frm
.docker/data/db/performance_schema/socket_instances.frm
.docker/data/db/performance_schema/socket_summary_by_event_name.frm
.docker/data/db/performance_schema/socket_summary_by_instance.frm
.docker/data/db/performance_schema/status_by_account.frm
.docker/data/db/performance_schema/status_by_host.frm
.docker/data/db/performance_schema/status_by_thread.frm
.docker/data/db/performance_schema/status_by_user.frm
.docker/data/db/performance_schema/table_handles.frm
.docker/data/db/performance_schema/table_io_waits_summary_by_index_usage.frm
.docker/data/db/performance_schema/table_io_waits_summary_by_table.frm
.docker/data/db/performance_schema/table_lock_waits_summary_by_table.frm
.docker/data/db/performance_schema/threads.frm
.docker/data/db/performance_schema/user_variables_by_thread.frm
.docker/data/db/performance_schema/users.frm
.docker/data/db/performance_schema/variables_by_thread.frm
.docker/data/db/sys/db.opt
.docker/data/db/sys/host_summary_by_file_io_type.frm
.docker/data/db/sys/host_summary_by_file_io.frm
.docker/data/db/sys/host_summary_by_stages.frm
.docker/data/db/sys/host_summary_by_statement_latency.frm
.docker/data/db/sys/host_summary_by_statement_type.frm
.docker/data/db/sys/host_summary.frm
.docker/data/db/sys/innodb_buffer_stats_by_schema.frm
.docker/data/db/sys/innodb_buffer_stats_by_table.frm
.docker/data/db/sys/innodb_lock_waits.frm
.docker/data/db/sys/io_by_thread_by_latency.frm
.docker/data/db/sys/io_global_by_file_by_bytes.frm
.docker/data/db/sys/io_global_by_file_by_latency.frm
.docker/data/db/sys/io_global_by_wait_by_bytes.frm
.docker/data/db/sys/io_global_by_wait_by_latency.frm
.docker/data/db/sys/latest_file_io.frm
.docker/data/db/sys/memory_by_host_by_current_bytes.frm
.docker/data/db/sys/memory_by_thread_by_current_bytes.frm
.docker/data/db/sys/memory_by_user_by_current_bytes.frm
.docker/data/db/sys/memory_global_by_current_bytes.frm
.docker/data/db/sys/memory_global_total.frm
.docker/data/db/sys/metrics.frm
.docker/data/db/sys/processlist.frm
.docker/data/db/sys/ps_check_lost_instrumentation.frm
.docker/data/db/sys/schema_auto_increment_columns.frm
.docker/data/db/sys/schema_index_statistics.frm
.docker/data/db/sys/schema_object_overview.frm
.docker/data/db/sys/schema_redundant_indexes.frm
.docker/data/db/sys/schema_table_lock_waits.frm
.docker/data/db/sys/schema_table_statistics_with_buffer.frm
.docker/data/db/sys/schema_table_statistics.frm
.docker/data/db/sys/schema_tables_with_full_table_scans.frm
.docker/data/db/sys/schema_unused_indexes.frm
.docker/data/db/sys/session_ssl_status.frm
.docker/data/db/sys/session.frm
.docker/data/db/sys/statement_analysis.frm
.docker/data/db/sys/statements_with_errors_or_warnings.frm
.docker/data/db/sys/statements_with_full_table_scans.frm
.docker/data/db/sys/statements_with_runtimes_in_95th_percentile.frm
.docker/data/db/sys/statements_with_sorting.frm
.docker/data/db/sys/statements_with_temp_tables.frm
.docker/data/db/sys/sys_config_insert_set_user.TRN
.docker/data/db/sys/sys_config_update_set_user.TRN
.docker/data/db/sys/sys_config.frm
.docker/data/db/sys/sys_config.ibd
.docker/data/db/sys/sys_config.TRG
.docker/data/db/sys/user_summary_by_file_io_type.frm
.docker/data/db/sys/user_summary_by_file_io.frm
.docker/data/db/sys/user_summary_by_stages.frm
.docker/data/db/sys/user_summary_by_statement_latency.frm
.docker/data/db/sys/user_summary_by_statement_type.frm
.docker/data/db/sys/user_summary.frm
.docker/data/db/sys/version.frm
.docker/data/db/sys/wait_classes_global_by_avg_latency.frm
.docker/data/db/sys/wait_classes_global_by_latency.frm
.docker/data/db/sys/waits_by_host_by_latency.frm
.docker/data/db/sys/waits_by_user_by_latency.frm
.docker/data/db/sys/waits_global_by_latency.frm
.docker/data/db/sys/x@0024host_summary_by_file_io_type.frm
.docker/data/db/sys/x@0024host_summary_by_file_io.frm
.docker/data/db/sys/x@0024host_summary_by_stages.frm
.docker/data/db/sys/x@0024host_summary_by_statement_latency.frm
.docker/data/db/sys/x@0024host_summary_by_statement_type.frm
.docker/data/db/sys/x@0024host_summary.frm
.docker/data/db/sys/x@0024innodb_buffer_stats_by_schema.frm
.docker/data/db/sys/x@0024innodb_buffer_stats_by_table.frm
.docker/data/db/sys/x@0024innodb_lock_waits.frm
.docker/data/db/sys/x@0024io_by_thread_by_latency.frm
.docker/data/db/sys/x@0024io_global_by_file_by_bytes.frm
.docker/data/db/sys/x@0024io_global_by_file_by_latency.frm
.docker/data/db/sys/x@0024io_global_by_wait_by_bytes.frm
.docker/data/db/sys/x@0024io_global_by_wait_by_latency.frm
.docker/data/db/sys/x@0024latest_file_io.frm
.docker/data/db/sys/x@0024memory_by_host_by_current_bytes.frm
.docker/data/db/sys/x@0024memory_by_thread_by_current_bytes.frm
.docker/data/db/sys/x@0024memory_by_user_by_current_bytes.frm
.docker/data/db/sys/x@0024memory_global_by_current_bytes.frm
.docker/data/db/sys/x@0024memory_global_total.frm
.docker/data/db/sys/x@0024processlist.frm
.docker/data/db/sys/x@0024ps_digest_95th_percentile_by_avg_us.frm
.docker/data/db/sys/x@0024ps_digest_avg_latency_distribution.frm
.docker/data/db/sys/x@0024ps_schema_table_statistics_io.frm
.docker/data/db/sys/x@0024schema_flattened_keys.frm
.docker/data/db/sys/x@0024schema_index_statistics.frm
.docker/data/db/sys/x@0024schema_table_lock_waits.frm
.docker/data/db/sys/x@0024schema_table_statistics_with_buffer.frm
.docker/data/db/sys/x@0024schema_table_statistics.frm
.docker/data/db/sys/x@0024schema_tables_with_full_table_scans.frm
.docker/data/db/sys/x@0024session.frm
.docker/data/db/sys/x@0024statement_analysis.frm
.docker/data/db/sys/x@0024statements_with_errors_or_warnings.frm
.docker/data/db/sys/x@0024statements_with_full_table_scans.frm
.docker/data/db/sys/x@0024statements_with_runtimes_in_95th_percentile.frm
.docker/data/db/sys/x@0024statements_with_sorting.frm
.docker/data/db/sys/x@0024statements_with_temp_tables.frm
.docker/data/db/sys/x@0024user_summary_by_file_io_type.frm
.docker/data/db/sys/x@0024user_summary_by_file_io.frm
.docker/data/db/sys/x@0024user_summary_by_stages.frm
.docker/data/db/sys/x@0024user_summary_by_statement_latency.frm
.docker/data/db/sys/x@0024user_summary_by_statement_type.frm
.docker/data/db/sys/x@0024user_summary.frm
.docker/data/db/sys/x@0024wait_classes_global_by_avg_latency.frm
.docker/data/db/sys/x@0024wait_classes_global_by_latency.frm
.docker/data/db/sys/x@0024waits_by_host_by_latency.frm
.docker/data/db/sys/x@0024waits_by_user_by_latency.frm
.docker/data/db/sys/x@0024waits_global_by_latency.frm
.docker/data/db/mysql.sock
src/bin/phpunit
src/tests/bootstrap.php
src/.env.test
src/phpunit.xml.dist
src/symfony.lock
src/symfony.lock
src/symfony.lock
