{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Admin Panel Currency Calculate{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="/">Main page</a>
     <a class="btn btn-primary" href="">Currency</a>
      <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}

{% endblock %}